<html xmlns:th="http://www.thymeleaf.org">

	<!-- 카테고리 -->
	<ul class="category" th:fragment="_category" >     
	    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
	    <li th:each="cate1:${cate1List}">
	        <a href="#"><i class="fas fa-tshirt"></i>[[${cate1.title}]]</a>
	        <ol>
	            <li><a href="#">남성의류</a></li>
	            <li><a href="#">여성의류</a></li>
	            <li><a href="#">잡화</a></li>
	            <li><a href="#">뷰티</a></li>
	        </ol>
	    </li>
	</ul>
              
</html>